@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --color-text-primary: white;
  --color-text-secondary: hsl(236, 100%, 87%);
  --color-text-tertiary: hsl(235, 45%, 61%);
  --color-accent-main: hsl(246, 80%, 60%);
  --color-accent-orange: hsl(15, 100%, 70%);
  --color-accent-blue: hsl(195, 74%, 62%);
  --color-accent-red: hsl(348, 100%, 68%);
  --color-accent-green: hsl(145, 58%, 55%);
  --color-accent-violet: hsl(264, 64%, 52%);
  --color-accent-yellow: hsl(43, 84%, 65%);
  --color-hover: hsl(236, 34%, 43%);
  --color-background-main: hsl(226, 41%, 10%);
  --color-background-container: hsl(235, 46%, 20%);

  --fs-xl: 3.2rem;
  --fs-500: 2.5rem;
  --fs-400: 1.8rem;
  --fs-300: 1.6rem;
  --fs-200: 1.4rem;

  --br-container: 15px;

  --pd-block: 3rem;
  --pd-inline: 2.5rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-size: var(--fs-200);
  color: var(--color-text-secondary);
  background-color: var(--color-background-main);
}

h1,
h2 {
  color: var(--color-text-primary);
}

h1 {
  font-size: var(--fs-500);
  font-weight: 300;
}

h2 {
  font-size: var(--fs-400);
  font-weight: 500;
}

a {
  text-decoration: none;
}

.btn {
  background-color: transparent;
  color: var(--color-text-tertiary);
  border: none;
  cursor: pointer;
}

.btn--active {
  color: var(--color-text-primary);
}

.flex {
  display: flex;
}

.outer-box {
  border-radius: var(--br-container);
}

.inner-box {
  padding: var(--pd-block) var(--pd-inline);
  border-radius: var(--br-container);
}

.container {
  width: 90%;
  margin-inline: auto;
  display: grid;
  gap: 2.5rem;
}

/* User Profile */
header .outer-box {
  background-color: var(--color-background-container);
}

header .inner-box {
  background-color: var(--color-accent-main);
}

header .flex {
  align-items: center;
  gap: 2rem;
}

.profile__title span {
  font-size: var(--fs-300);
  font-weight: 400;
  display: block;
  color: var(--color-text-secondary);
  padding-bottom: 0.5rem;
}

.profile__picture {
  width: 7rem;
  height: auto;
  -webkit-filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white)
    drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);

  filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white)
    drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
}

.view-type-list {
  padding: var(--pd-block) var(--pd-inline);
  list-style: none;
  justify-content: space-between;
}

.view-type .btn {
  font-size: var(--fs-400);
}

.view-type .btn:hover {
  color: var(--color-text-primary);
}

/* task-item */
.task-item {
  border-top: 3.8rem solid;
  position: relative;
  clip-path: inset(0);
}

.task-item--work {
  border-color: var(--color-accent-orange);
  background-color: var(--color-accent-orange);
}

.task-item--play {
  border-color: var(--color-accent-blue);
  background-color: var(--color-accent-blue);
}

.task-item--study {
  border-color: var(--color-accent-red);
  background-color: var(--color-accent-red);
}

.task-item--exercise {
  border-color: var(--color-accent-green);
  background-color: var(--color-accent-green);
}

.task-item--social {
  border-color: var(--color-accent-violet);
  background-color: var(--color-accent-violet);
}

.task-item--selfcare {
  border-color: var(--color-accent-yellow);
  background-color: var(--color-accent-yellow);
}

.task-item .inner-box {
  background-color: var(--color-background-container);
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.task-item .inner-box:hover {
  background-color: var(--color-hover);
}

.task__icon {
  position: absolute;
  top: -32%;
  right: 5%;
  z-index: 1;
}

.task-header.flex,
.task-content.flex {
  justify-content: space-between;
}

.task-content.flex {
  align-items: center;
}

.task-content {
  padding-block: 1rem 0.5rem;
}

.task__data {
  font-size: var(--fs-xl);
  color: var(--color-text-primary);
  font-weight: 300;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
